<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
        <link rel="stylesheet" href="/static/layui2/css/layui.css" media="all" />
		<!--<link rel="stylesheet" href="../css/font_eolqem241z66flxr.css" media="all" />-->
		<link rel="stylesheet" href="/static/css/main.css" media="all" />
        <link href="/static/css/Calendar.css" rel="stylesheet" type="text/css"/>
        <script src="/static/js/date.js"></script>
        <style>
            .panel{
                width: 300px;
                display: flex;
                float: left;
                padding-left: 40px;
                margin-left: 100px;
                {#margin-left: 150px;#}
            }
            .panel a{
                display: block;
                width: 400px;
                {#height: 200px;#}

            }
        </style>
	</head>

	<body class="childrenBody">
		<div class="panel_box row">
			<div class="panel col">
				<a href="javascript:;" data-url="/hrmanager/page/attendCheck/">
					<div class="panel_icon">
						<i class="layui-icon" data-icon="&#xe618;">&#xe618;</i>
					</div>
					<div class="panel_word attendNormal">
						<span></span>
						<cite>正常出勤</cite>
					</div>
				</a>
			</div>
			<div class="panel col">
				<a href="javascript:;" data-url="/hrmanager/page/attendCheck/">
					<div class="panel_icon" style="background-color:#009688;">
						<i class="layui-icon" data-icon="&#xe60b;">&#xe60b;</i>
					</div>
					<div class="panel_word attendAbnormal">
						<span></span>
						<cite>考勤异常</cite>
					</div>
				</a>
			</div>
			<div class="panel col">
				<a href="javascript:;" data-url="/hrmanager/error/">
					<div class="panel_icon" style="background-color:#5FB878;">
						<i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
					</div>
					<div class="panel_word imgAll">
						<span></span>
						<cite>联系客服</cite>
					</div>
				</a>
			</div>
            <div style="clear: both;"></div>

		</div>

		<div class="row">
			<div class="sysNotice col">
				<blockquote class="layui-elem-quote title">考勤日历</blockquote>
				<div class="layui-elem-quote layui-quote-nm">
                    <div class="div_changeMonth"><input type="button" class="layui-btn" style="float: left"  id="upMonth" value="上个月">
                        <input type="button" class="layui-btn" style="float: right" id="nextMonth" value="下个月"></div>
                    <div style="clear: both"></div>
{#                    <div class="div_calendar_title"><h1>考勤日历</h1></div>#}
                    <div id="calendar_div" class="div_calendar">
                    </div>
                    <div id="current_date_label" class="div_target_label"></div>
				</div>
			</div>
			<div class="sysNotice col">
                <blockquote class="layui-elem-quote title">异常记录</blockquote>
				<table class="layui-table" id="table_abnormal">
{#					<colgroup>#}
{#						<col width="150">#}
{#					</colgroup>#}
{#					<tbody>#}
{#                    <thead>#}
{#                 <td>异常时间</td>#}
{#                        <td>异常原因</td>#}
{#                </thead>#}
{#                    <tr>#}
{#                        <td>异常时间</td>#}
{#                        <td>异常原因</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>异常时间</td>#}
{#                        <td>{{ request.session.username }}</td>#}
{#                    </tr>#}
{#                    {% for item in abnormalData %}#}
{#                        <td>{{ item.abnormalTime }}</td>#}
{#                        <td>{{ item.abnormalReason }}<td>#}
{#                    {% endfor %}#}
{##}
{#					</tbody>#}
				</table>

			</div>
		</div>
        <script src="/static/js/attendanceCalendar.js"></script>
		<script type="text/javascript" src="/static/layui/layui.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
	</body>

</html>